<aside class="off-canvas-wrapper">
    <div class="btn-close-off-canvas" bis_skin_checked="1">
        <i class="ion-android-close"></i>
    </div>
    <div class="off-canvas-inner" bis_skin_checked="1">
        <!-- search box start -->
        <div class="search-box offcanvas" bis_skin_checked="1">
            <form>
                <input type="text" class="input-search" placeholder="Search Here">
                <button class="icon-search btn-search btn btn-primary ms-2 custom-btn">
                    <i class="ion-ios-search-strong"></i>
                </button>
            </form>
        </div>
        <!-- search box end -->
        <!-- mobile menu start -->
        <div class="mobile-navigation" bis_skin_checked="1">
            <!-- mobile menu navigation start -->
            <nav class="off-canvas-nav">
                <ul class="mobile-menu main-mobile-menu">
                            <li>
                                 <a href="/">Trang chủ</a>
                                
                            </li>
                            <li>
                                 <a href="/chi-tiet-bai-viet/1">Giới thiệu</a>
                                
                            </li>
                            <li>
                                 <a href="/ebook">Ebook</a>
                                
                            </li>
                            <li>
                                 <a href="https://drive.google.com/file/d/13GLhbuMMifNufzxedS5f_t1rM0M99DA7/view?usp=sharing">Hướng dẫn</a>
                                
                            </li>
                            <li>
                                 <a href="/lien-he-v1">Liên hệ</a>
                                
                            </li>

                </ul>
            </nav>
            <!-- mobile menu navigation end -->
        </div>
    </div>
</aside>